body h2, p{
    font-family: 'Playfair Display', serif !important;
}

h2 {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
    line-height: 0.97;
}


button {
    align-self: center;
    width: 150px;
    height: 32px;
    background: var(--black);
    border-radius: 3px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

strong {
    font-size: 0.840em;
}


p {
    font-size: 25px;
}

.menu {
    position: relative;
    min-height: 800px;
}

/*nav-bar and header parts*/

.header {
    height: 289px;
}


.header-text {
    text-align: center;
}

/*Text-block css*/

.text-block {
    padding: 112px calc(50% - 278px);
    padding-bottom: 150px;
}


.text-block p{
    text-align: left;
    font-size: 15px;
    margin-bottom: 28px;
    opacity: 0.8;
}


.text-block p span{
    display: block;
}

.text-block p a{
    color: blue !important;
}

.text-block p a:hover{
    border-bottom: 1px solid blue;
}


/*Footer*/

.footer {
    position: static;
    margin: 0 auto;
    width: 500px;
    padding-left: 85px;
    opacity: 0.9;
    font-size: 14px;
}


/*Media queries*/

@media(max-width: 1000px){
    .header {
        height: 180px;
    }

    .header p {
        font-size: 15px;
    }

    .menu-block {
        padding-top: 20px;
    }

    .header {
        padding: 15px 15px;
    }

    .first-logo {
        width: 100px;
    }

    .header-text {
        padding-top: 0;
    }

    .header .menu-block a {
        font-size: 15px;
    }


    .burger {
        top: 15px;
    }

    .text-block {
        padding-bottom: 250px;
    }
}


@media(max-width: 700px){

    .text-block {
        padding: 80px 70px;
    }


    .text-block {
        padding-bottom: 200px !important;
    }

    .menu {
        min-height: 400px;
    }

}


@media(max-width: 400px){

    .text-block {
        padding-bottom: 50px !important;
    }


    .footer {
        font-size: 12px;
        padding-left: 65px;
    }

}
